//提供scss全局变量

//home页左侧菜单
$base-menu-width:260px;  //左侧菜单宽度
$base-menu-min-width:50px;  //左侧菜单折叠后宽度

$base-menu-background:#5b6c7b; //颜色
$base-menu-logo-height: 50px; //logo高度
$base-logo-title-fontSize:20px; //logo旁文字大小

//home页顶栏导航
$base-tabbar-height:50px; //高度
